<!DOCTYPE html>
<html>
    <head>
        <title>SecureWitness</title>
    </head>

    <body>
        <h1>Create a Group</h1>

        <!-- This line determines whether to call the add_report or edit_report view -->
        <form id="group_form" method="post" action=""/>

            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}

            {% for field in form.visible_fields %}
                {{ field.errors }}
                {{ field.help_text }}
                {{ field }}
                <br />
            {% endfor %}

            <br/><input type="submit" value="Create Group" /> <button type="button" onclick="window.location = '/app/group/1/'">Cancel</button>
        </form>
    </body>

</html>
