<!DOCTYPE html>
<html>
    <head>
        <title>SecureWitness</title>
        <!-- Bootstrap core CSS -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <!-- Latest compiled JavaScript -->
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <!-- Bootstrap theme -->
        <link href="https://cdn.jsdelivr.net/bootstrap.material-design/0.3.0/css/material.min.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/bootstrap.material-design/0.3.0/css/roboto.min.css" rel="stylesheet">
    </head>

    <body>
        <h1>File a Report</h1>

        <!-- This line determines whether to call the add_report or edit_report view -->
        <form id="report_form" method="post" {% if report %} action="/app/user/{{ user.username }}/report/{{report.id}}/edit/" {% elif folder_slug %} action="/app/user/{{ user.username }}/folder/{{folder_slug}}/add_report/" {% else %} action="/app/user/{{user.username}}/add_report/" {% endif %}/>

            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}

            {% for field in form.visible_fields %}
                {{ field.errors }}
                {{ field.help_text }}
                {{ field }}
                <br />
            {% endfor %}

            <!-- This line determines whether to display a "File Report" or a "Save" button -->
            <br/><input type="submit" {% if report %} value="Save" {% else %} value="File Report" {% endif %} /> <button type="button" onclick="window.location = '/app/user/{{user.username}}/'">Cancel</button>
        </form>
    </body>

</html>
