<!DOCTYPE html>
<html>
    <head>
        <title>SecureWitness</title>
        <!-- Bootstrap core CSS -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
        <!-- Bootstrap theme
        <link href="https://cdn.jsdelivr.net/bootstrap.material-design/0.3.0/css/material.min.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/bootstrap.material-design/0.3.0/css/roboto.min.css" rel="stylesheet">
        -->
    </head>

    <body>
        <h1>Attach a File</h1>
        <form id="file_form" method="post" action="/app/report/{{report.id}}/files/" enctype="multipart/form-data"/>
            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}
            {% for field in form.visible_fields %}
                {{ field.errors }}
                {{ field.help_text }}
                {{ field }}
                <br/>
            {% endfor %}
            <br />
            <input type="submit" value="Done"/>
            {% if report.folder %}
                <button type="button" onclick="window.location = '/app/user/{{user.username}}/folder/{{report.folder.slug}}/'">Cancel</button>
            {% else %}
                <button type="button" onclick="window.location = '/app/user/{{user.username}}/'">Cancel</button>
            {% endif %}
        </form>
    </body>

</html>
