<!DOCTYPE html>
<html>
    <head>
        <title>SecureWitness</title>
    </head>

    <body>
        <!-- Displays the user's username as a header -->
        <h1>{{ user.username }}: Home > {{ folder.name }}</h1>
        <p>
            <a href="/app/">SecureWitness Home</a>
             |
            <a href="/app/user/{{user.username}}/">View Your Homepage</a>
             |
            <a href="/app/logout/">Logout</a>
             |
            <a href="/app/user/{{user.username}}/delete_account/">Delete Your Account</a>
        </p>
        <p>
            <a href="/app/user/{{ user.username }}/folder/{{ folder.slug }}/add_report/">File a New Report</a>
        </p>
        {% if reports %}
            <ul>
                {% for report in reports %}
                <li>
                    <p>{{report.shortDesc}}</p>
                    <a href="/app/report/{{ report.id }}/">View Report</a>
                     |
                    <a href="/app/user/{{ user.username }}/report/{{ report.id }}/edit">Edit report</a>
                     |
                    <a href="/app/user/{{ user.username }}/report/{{ report.id }}/copy">Copy report</a>
                     |
                    <a href="/app/user/{{ user.username }}/report/{{ report.id }}/move">Move report</a>
                     |
                    <a href="/app/report/{{ report.id }}/files">Attach Files</a>
                     |
                    <a href="/app/user/{{ user.username }}/report/{{ report.id }}/delete">Delete report</a>
                </li>
                {% endfor %}
            </ul>
        {% else %}
            <p><strong>There are no reports in this folder.</strong></p>
        {% endif %}
    </body>
</html>
