<!DOCTYPE html>
<html>
    <head>
        <title>SecureWitness</title>
        <!-- Bootstrap core CSS -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
        <!-- Bootstrap theme
        <link href="https://cdn.jsdelivr.net/bootstrap.material-design/0.3.0/css/material.min.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/bootstrap.material-design/0.3.0/css/roboto.min.css" rel="stylesheet">
        -->
    </head>

    <body>
        <!-- Displays the user's username as a header -->
        <h1>Group: {{ group.name }}</h1>
        <p>
        <a href="/app/">SecureWitness Home</a>
         |
        <a href="/app/user/{{user.username}}/">View Your Homepage</a>
         |
        <a href="/app/logout/">Logout</a>
         |
        <a href="/app/user/{{user.username}}/delete_account/">Delete Your Account</a><br />
        </p>

        {% if user.groups.all %}
            <p><strong>Groups</strong></p>
            <p>
            {% for group in user.groups.all %}
                <a href="/app/group/{{group.id}}/">{{group.name}}</a>
            {% endfor %}
            </p>
        {% endif %}
        {%  if is_admin %}
            <p>
                <a href="/app/add_group/">Create a new group</a>
                 |
                <a href="/app/group/{{ group.id }}/add_to_group/">Add a user to this group</a>
            </p>
        {% else %}
            <p>
                <a href="/app/group/{{ group.id }}/add_to_group/">Add a user to this group</a>
                 |
                <a href="/app/group/{{ group.id }}/remove_from_group/">Remove a user from this group</a>
            </p>
            {% if reports %}
                <p><strong>Reports</strong></p>
                <ul>
                    {% for report in reports %}
                    <li>
                        <p>{{report.shortDesc}}</p>
                        <a href="/app/report/{{ report.id }}/">View Report</a>
                        {% if report.user == user %}
                             |
                            <a href="/app/group/{{ group.id }}/report/{{ report.id }}/remove/">Remove report</a>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p><strong>This group doesn't contain any reports.</strong></p>
            {% endif %}
        {%  endif %}
    </body>
</html>
