<!DOCTYPE html>
<html>
    <head>
        <title>SecureWitness</title>
        <!-- Bootstrap core CSS -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <!-- Latest compiled JavaScript -->
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <!-- Bootstrap theme -->
        <link href="https://cdn.jsdelivr.net/bootstrap.material-design/0.3.0/css/material.min.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/bootstrap.material-design/0.3.0/css/roboto.min.css" rel="stylesheet">
    </head>

    <body>
        {% if user.is_authenticated %}
        <h1>SecureWitness: Home</h1>
        <p>
        <a href="/app/">SecureWitness Home</a>
         |
        <a href="/app/user/{{user.username}}/">View Your Homepage</a>
         |
        <a href="/app/logout/">Logout</a>
         |
        <a href="/app/user/{{user.username}}/delete_account/">Delete Your Account</a><br />
        </p>

        <p><strong>Groups</strong> | <a href="/app/request-group-access/">Request Access to a Group</a></p>
        {% if user.groups.all %}
            <p>
            {% for group in user.groups.all %}
                <a href="/app/group/{{group.id}}/">{{group.name}}</a>
            {% endfor %}
            </p>
        {% else %}
            <p>You don't belong to any groups</p>
        {% endif %}
            <p>Search for Reports</p>
            <form id="search_form" method="post" action="/app/search/">
                {% csrf_token %}
                <input type="text" name="search" value="" size="50"/> <input type="submit" value="Search" />
            </form>
            <p><a href="/app/search/">Advanced Search</a></p>

            {% if reports %}

            <ul>
                {% for report in reports %}
                <li>
                    <p>{{report.shortDesc}}</p>
                    <p>
                    <a href="/app/report/{{ report.id }}/">View Report</a>
                    {% if admin %}
                         | <a href="/app/user/{{ user.username }}/report/{{ report.id }}/delete">Delete report</a>
                    {% endif %}
                    </p>
                </li>
                {% endfor %}
            </ul>
            {% else %}
                <p><strong>There are no matching reports currently in the database</strong></p>
            {% endif %}
        {% else %}
        <h1>Welcome to SecureWitness</h1>
        <a href="/app/login/">Login to SecureWitness</a><br />
        <a href="/app/register/">Register</a><br />
        {% endif %}
    </body>
</html>