<!DOCTYPE html>
<html>
    <head>
        <title>SecureWitness</title>
    </head>

    <body>
        {% if user.is_authenticated %}
            <h1>Welcome back, {{user.username}}</h1>
            <a href="/app/">SecureWitness Home</a>
             |
            <a href="/app/user/{{user.username}}/">View Your Homepage</a>
             |
            <a href="/app/logout/">Logout</a>
             |
            <a href="/app/user/{{user.username}}/delete_account/">Delete Your Account</a><br />

            <a href="/app/search/">Search for Reports</a>

            {% if reports %}

            <ul>
                {% for report in reports %}
                <li>
                    <p>{{report.shortDesc}}</p>
                    <a href="/app/report/{{ report.id }}/">View Report</a>
                </li>
                {% endfor %}
            </ul>
            {% else %}
                <p><strong>There are no matching reports currently in the database</strong></p>
            {% endif %}
        {% else %}
            <h1>Welcome to SecureWitness</h1>
            <a href="/app/login/">Login to SecureWitness</a><br />
            <a href="/app/register/">Register</a><br />
        {% endif %}
    </body>
</html>