<!DOCTYPE html>
<html>
    <head>
        <title>SecureWitness</title>
    </head>

    <body>
        <h1>SecureWitness</h1>
        {% if users %}
            <ul>
                {% for user in users %}
                <li><a href="/app/user/{{ user.username}}">{{ user.username }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>There are no users present.</strong>
        {% endif %}
        <a href="/app/register/">Register Here</a>
    </body>
</html>

