<!DOCTYPE html>
<html>
    <head>
        <title>SecureWitness</title>
    </head>

    <body>
        <h1>Register with SecureWitness</h1>
        <strong>Register here!</strong><br />
        <form id="user_form" method="post" action="/app/register/" enctype="multipart/form-data">
            {% csrf_token %}
            <!-- Wraps each form element in a paragraph -->
            {{ user_form.as_p }}
            <input type="submit" name="submit" value="Register" />
        </form>
    </body>

</html>
