<!DOCTYPE html>
<html>
    <head>
        <title>SecureWitness</title>
        <!-- Bootstrap core CSS -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
        <!-- Bootstrap theme
        <link href="https://cdn.jsdelivr.net/bootstrap.material-design/0.3.0/css/material.min.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/bootstrap.material-design/0.3.0/css/roboto.min.css" rel="stylesheet">
        -->
    </head>

    <body>
        <h1>Register with SecureWitness</h1>
        <strong>Register here!</strong><br />
        <form id="user_form" method="post" action="/app/register/" enctype="multipart/form-data">
            {% csrf_token %}
            <!-- Wraps each form element in a paragraph -->
            {{ user_form.as_p }}
            <input type="submit" name="submit" value="Register" />
        </form>
    </body>

</html>
