<!DOCTYPE html>
<html>
    <head>
        <title>SecureWitness</title>

        <!-- Bootstrap core CSS -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
        <!-- Bootstrap theme -->
        <link href="https://cdn.jsdelivr.net/bootstrap.material-design/0.3.0/css/material.min.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/bootstrap.material-design/0.3.0/css/roboto.min.css" rel="stylesheet">
    </head>

    <body>
        <h1>Reported by {{report.user.username}} on {{report.timeCreated}}</h1>
        <p><strong>Short description:</strong> {{report.shortDesc}}</p>
        <p><strong>Detailed description:</strong> {{report.detailedDesc}}</p>
        <p><strong>Date of Incident:</strong> {{report.dateOfIncident}}</p>
        <p><strong>Location:</strong> {{report.location}}</p>
        <p><strong>Private:</strong> {{report.private}}</p>
        {% if files %}
        <p><strong>Attachments:</strong></p>
        {% for file in files %}
            {{ file }}<br/>
            <p>Hash: {{ file.hash }}</p>
            {% if report.folder %}
                <a href="/media/{{report.user.username}}/{{report.folder.name}}/{{file}}">Download</a>
            {% else %}
                <a href="/media/{{report.user.username}}/{{file}}">Download</a>
            {% endif %}
            {% if file.user == user %}
                 | <a href="/app/report/{{report.id}}/files/{{file.id}}/delete">Remove</a>
            {% endif %}
            <br/>
        {% endfor %}
        {% endif %}
    </body>

</html>
