<!DOCTYPE html>
<html>
    <head>
        <title>SecureWitness</title>

        <!-- Bootstrap core CSS -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
        <!-- Bootstrap theme
        <link href="https://cdn.jsdelivr.net/bootstrap.material-design/0.3.0/css/material.min.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/bootstrap.material-design/0.3.0/css/roboto.min.css" rel="stylesheet">
        -->
    </head>

    <body>
        <h1>Search Reports</h1>

        <form id="search_form" method="post" action="/app/search/"/>

            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}

            {% for field in form.visible_fields %}
                {{ field.errors }}
                {{ field.help_text }}
                {{ field }}
                <br />
            {% endfor %}

            <input type="submit" value="Search"/> <button type="button" onclick="window.location = '/app/'">Cancel</button>
        </form>
    </body>

</html>
