<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>SecureWitness</title>
        <!-- Bootstrap core CSS -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <!-- Latest compiled JavaScript -->
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <!-- Bootstrap theme -->
        <link href="https://cdn.jsdelivr.net/bootstrap.material-design/0.3.0/css/material.min.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/bootstrap.material-design/0.3.0/css/roboto.min.css" rel="stylesheet">
    </head>

    <body>
        <h1>Group Requests</h1>
        <p>
        <a href="/app/">SecureWitness Home</a>
         |
        <a href="/app/user/{{user.username}}/">View Your Homepage</a>
         |
        <a href="/app/logout/">Logout</a>
         |
        <a href="/app/user/{{user.username}}/delete_account/">Delete Your Account</a><br />
        </p>

        {% if requests %}

            <ul>
                {% for request in requests %}
                <li>
                    <p>User: {{request.user}}</p>
                    <p>Group: {{request.group}}</p>
                    <p>Reason: {{request.text}}</p>
                </li>
                {% endfor %}
            </ul>

        {% else %}
                <p><strong>There are no group requests at this time</strong></p>
        {% endif %}

    </body>
</html>