Django==1.7.5
dj-database-url==0.3.0
dj-static==0.0.6
django-toolbelt==0.0.1
gunicorn==19.3.0
html5lib==0.999
httplib2==0.9
lxml==3.3.6
oauthlib==0.6.1
pycrypto==2.6.1
pycups==1.9.67
pycurl==7.19.5
python-apt==0.9.3.10ubuntu1
python-debian==0.1.22
pyxdg==0.25
requests==2.3.0
static3==0.5.1
urllib3==1.8.3
